<p id="notice"><%= notice %></p>
<div class="content">
  <p>
    <h1><%= @theme.title_list %></h1>
  </p>
  <div class="footer-show">
    <%= link_to 'Edit', edit_theme_path(@theme) %> |
    <%= link_to 'Back', themes_path %>
  </div>
</div>