
.main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container{
    background-color: rgb(153, 106, 106)olid black;
    margin: 0 auto;
}
.content{
}
#footer-home{
    text-align: center;
    background-color: 1px solid rgb(245, 241, 241);
}
.container h1{
    margin-top: 15px;
}
.container a{
}
.container label{
}
.container input{
}
#navbar label {
    display: none;
}
#navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
    padding: 0px 50px;
}
#navbar ul li a{
    text-decoration: none;
}