body{
    overflow: hidden;
}
.main{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer-show{
    margin-top: 15px;
}
.content strong{
    margin-bottom: 10px;
}
.item-card{
    display: flex;
    flex-direction: column;
}
.item-card input,
.item-card select
{
    padding: 15px;
}
.item-card label{
    margin-bottom: 5px;
}
.actions, #footer-home{
    margin-top: 10px;
    text-align: center;
}
.container h1{
    margin: 15px;
}
#navbar label {
    display: none;
}
#navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
    padding: 0px 50px;
}
#navbar ul li a{
    text-decoration: none;
}
.table-row{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.table-row::-webkit-scrollbar {
    width: 5px;
}
.table-head{
    display: flex;
}
.table-rows{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 2px -2px gray;
}
.table-body > .table-rows div, 
.table-head > .table-rows div{
    display: flex;
    align-items: center;
}

.table-body > .table-rows div{
    justify-content: center;
}
.table-head > .table-rows div{
    justify-content: center;
}
