@media only screen and (max-width: 500px) {
    nav{
        width: 100%;
        height: 100%;
    }
    nav{
        background-color: var(--color-grey);
        width: 350px;
        height: 100%;
        /*position: relative; como ul tem position absolute considerará este o pai, pois é o unico com este atributo*/
        position: absolute;
        left: -352px;
        transition: all .5s;
        overflow: hidden;
    }
    #navbar a{
        display: block;
        text-decoration: none; 
        text-transform: uppercase;
        padding: 20px 5px;
        padding-left: 40px;
    }
    #navbar ul{
        width: 100%;
        flex-direction: column;
        list-style: none; 
        top: 70px;
        position: absolute; 
        padding-inline-start: 0;
    }
    #navbar label{
        padding: 15px;
        position: absolute;
        left: 0;
        z-index: 1; /*traz um elemento para frente*/
        display: flex;
    }
    .item-card{
        width: 100%;
        height: 100%;
    }
    .content{
        max-height: 500px;
    }
    .table{
        width: 100%;
    }
    .table-head .table-rows div{
        display: none;

    }
    .table-rows{
        max-width: 300px;
        
    }
    .table-row div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 15px;
    } 
    .table-row .table-options{
        display: flex;
        max-height: 100%;
        align-items: center;
        flex-direction: row;
    }
    img{
        width: 100%;
    }
    #navbar  img{
        width: 50%;
        height: 50%;
    }

}